.container .head h1{
    white-space: pre;
  width: 100%;
  display: inline-block;
  font-size: 60px;
  text-align: center;
}
.container .buttonColor{
    display: flex;
  justify-content: center;
}
.container .buttonColor .button1{
    margin-inline: 20px;
}
.container .footer h1{
    white-space: pre;
    display: inline-block;
    font-size: 24px;
    text-align: center;
    width: 100%;
}